%ul#project-info.project-header.ui-helper-clearfix
  %li.body
    %ul#project-todo-items.todo-items 
      %li.task
        %div.handle.button.ui-state-focus.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
          %span.ui-button-text
            Untitled